
ContactManager.Service/bin/

ContactManager.Service/obj/

.idea/

ContactManager.Service.Test/bin/

ContactManager.Service.Test/obj/

ContactManager.FE.Mvc/obj/

ContactManager.FE.Mvc/bin/Debug/net8.0/
/ContactManager.Service/.vs/ContactManager.Service/DesignTimeBuild/.dtbcache.v2
/ContactManager.Service/.vs/ContactManager.Service/FileContentIndex/11702d0b-68a4-4632-accd-89577a95977d.vsidx
/ContactManager.Service/.vs/ContactManager.Service/v17/.suo
*.suo
/.vs/ContactManager.Service/v17/DocumentLayout.json
/ContactManager.Service/.vs/ContactManager.Service/FileContentIndex/35c00b54-4f09-42e4-bb22-d7557968b100.vsidx
/.vs/ContactManager.Service/config/applicationhost.config
*.vsidx
/ContactManager.Service/.vs/ContactManager.Service/v17/TestStore/0/003.testlog
/ContactManager.Service/.vs/ContactManager.Service/v17/TestStore/0/testlog.manifest
*.v2
/.vs/ContactManager.Service/v17/TestStore/0
