
ContactManager.Service/bin/

ContactManager.Service/obj/

.idea/

ContactManager.Service.Test/bin/

ContactManager.Service.Test/obj/

ContactManager.FE.Mvc/obj/

ContactManager.FE.Mvc/bin/Debug/net8.0/
